:root {
    --light: #c1c1c1;
    --dark: #dddddd;
    --txton: #404040;
    --midgray: #979797;
    --main: #DF4040;
    --menu: #777;
    --border: #4d4d4db0;
    --content: #4f4f4f;
    --button: #4f4f4ff5;
    --clearsky: #93969773;
    --gray: #575757;
    --bg1:#9b9b9b;
    --bg2: #6a6a6a;
    --bg3: #8a8a8a;
}
