<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Caloric Fool - [WIP]</title>
    <link rel="stylesheet" type="text/css" href="/views/main.css">
    <script type="text/javascript" src="/assets/lib/jquery-3.7.1.min.js"></script> 
    <script type="text/javascript" src="/views/req.js"></script> 
    <script type="text/javascript" src="/views/main.js"></script> 

</head>



<body>
    <div id="background"></div>
    <div class="hidden" id="inactive-bg"></div>

    <!-- Login Page -->
    <div class="sign" id="sign">
              
        <div class="sign-menu" id="sign-login">
            <div class="sign-menu-title">
                <h1 class="f-iconic no-select">Login</h1>
            </div>
            <div class="sign-menu-fields">
                <form id="login-form" class="sign-menu-fields-form">
                    <input type="email" name="email" placeholder="EMAIL" id="login-field-email" class="sign-menu-fields-form-text f-iconic" required /> 
                    <input type="password" name="password" placeholder="PASSWORD" id="login-field-password" class="sign-menu-fields-form-text f-iconic" required />
                    <button type="button" id="register" class="sign-menu-fields-form-register f-idendidad clickable">I don't have an account.</button>
                    <div class="sign-menu-fields-form-button">
                        <label for="remember" class="f-idendidad">Remember me?</label>
                        <input type="checkbox" name="remember" id="remember">
                    </div>
                    <input type="submit" value="LOGIN" id="login-btn" class="sign-menu-fields-form-submit f-iconic">
                </form>
            </div>
        </div>

        <div class="sign-menu hidden" id="sign-register">
            <div class="sign-menu-title">
                <h1 id="test" class="f-iconic no-select">Sign Up</h1>
            </div>
            <div class="sign-menu-fields">
                <form id="register-form" class="sign-menu-fields-form">
                    <input type="text" name="nickname" placeholder="USERNAME" id="register-field-nickname" class="sign-menu-fields-form-text f-iconic" required />
                    <input type="email" name="email" placeholder="EMAIL" id="register-field-email" class="sign-menu-fields-form-text f-iconic" required /> 
                    <input type="password" name="password" placeholder="PASSWORD" id="register-field-password" class="sign-menu-fields-form-text f-iconic" required />
                    <button type="button" id="login" class="sign-menu-fields-form-register f-idendidad clickable">I actually do have an account!</button>
                    <div class="sign-menu-fields-form-button">
                        <label for="remember" class="f-idendidad">Remember me?</label>
                        <input type="checkbox" name="remember" id="remember">
                    </div>
                    <input type="submit" value="SIGN UP" id="register-btn" class="sign-menu-fields-form-submit f-iconic">
                </form>
            </div>
        </div>
    </div>


    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->


    <!-- Main Page -->
    <div class="manager hidden" id="manager">
        <div class="manager-header no-select">
            <div class="manager-header-user clickable f-iconic" id="open-logout">
                <p class="manager-header-user-name" id="user-name">
                    Jane Doe<!-- User's Nickname -->
                </p>
                <div class="manager-header-user-details f-idendidad">
                    <p class="manager-header-user-details-weight ">
                        <span id="user-weight-amount">000</span><span id="user-weight-unit">kg</span>
                    </p>
                    <p class="manager-header-user-details-height">
                        <span id="user-height-amount">000</span><span id="user-height-unit">cm</span>
                    </p>
                </div>
            </div>
            <div class="manager-header-appname f-iconic">
                <p>Caloric Fool</p><!-- Application Name (Caloric Fool?) -->
            </div>
            <button class="manager-header-settings clickable" id="open-settings">
                <img src="../assets/svg/settings-icon.svg" alt="open settings">
            </button>
        </div>

        <div class="manager-content">
            <div class="manager-content-slider slider" id="content-slider">

                <!-- EVERY SLIDING BOX WILL BE HANDLED WITH DOM (FIRST BOX IS ALWAYS big BY DEFAULT)-->

                <!-- END OF BOXES -->


            </div>
            <div class="manager-content-info no-select">
                <div class="manager-content-info-box" id="entry-menu">
                    <!-- Where every entry boxes pop up -->
                </div>
                <button class="manager-content-info-add f-iconic clickable" id="add-entry">
                    <p>ADD</p>
                </button>
            </div>
        </div>
    </div>


    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->


    <!-- settings Menu -->
    <div class="settings hidden" id="settings">
        <div class="settings-header">
            <div class="settings-header-title no-select f-idendidad">
                <p>Settings</p>
            </div>
            <div class="settings-header-exit">
                <button type="button" class="settings-header-exit-btn" id="exit-settings"> 
                    <img src="../assets/svg/exit-icon.svg" alt="exit settings">
                </button>
            </div>
        </div>
        <div class="settings-content">
            
            <form id="settings-form" class="settings-content-form no-select">
                <div class="settings-content-form-field">
                    <button type="button" class="settings-content-form-field-button" id="settings-theme">
                        <div class="settings-content-form-field-button-left">
                            <p>Light</p> <!-- CHANGES WITH DOM DEPENDING ON ACTIVE OPTION ("Light"/"Dark")-->
                        </div>
                        <div class="settings-content-form-field-button-right hidden">
                            <p>DARK</p> <!-- CHANGES WITH DOM DEPENDING ON ACTIVE OPTION ("Light"/"Dark")-->
                        </div>
                    </button>
                    <div class="settings-content-form-field-title f-iconic">
                        <p>Theme</p>
                    </div>
                </div>
                <div class="settings-content-form-field">
                    <button type="button" class="settings-content-form-field-button" id="settings-unit">
                        <div class="settings-content-form-field-button-left">
                            <p>KG</p> <!-- CHANGES WITH DOM DEPENDING ON ACTIVE OPTION ("KG"/"LBS")-->
                        </div>
                        <div class="settings-content-form-field-button-right hidden">
                            <p>LBS</p> <!-- CHANGES WITH DOM DEPENDING ON ACTIVE OPTION ("KG"/"LBS")-->
                        </div>
                    </button>
                    <div class="settings-content-form-field-title f-iconic">
                        <p>Unit</p>
                    </div>
                </div>
                <button type="button" class="settings-content-form-editinfo f-iconic" id="settings-editinfo"><p>EDIT INFORMATIONS</p></button>
            </form>

        </div>
    </div>


    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    

    <!-- Information Menu -->
    <div class="information hidden" id="information">
        <div class="information-header">
            <div class="information-header-title no-select f-idendidad">
                <p>Informations</p>
            </div>
            <div class="information-header-exit" id="exit-header-information">
                <button class="information-header-exit-btn" id="exit-information"> 
                    <img src="../assets/svg/exit-icon.svg" alt="exit information">
                </button>
            </div>
        </div>
        <div class="information-content">
            
            <form id="information-form" class="information-content-form no-select">
                <div class="information-content-form-field">
                    <div class="information-content-form-field-title f-iconic">
                        <p>Weight</p>
                    </div>
                    <div class="information-content-form-field-inputs">
                        <input type="number" name="weight-info" placeholder="000" id="information-form-weight" class="information-content-form-field-inputs-text f-idendidad" max="999" step="0.01" required />
                        <div class="information-content-form-field-inputs-attribute f-iconic">
                            <p>kg</p>
                        </div>
                    </div>
                </div>
                <div class="information-content-form-field">
                    <div class="information-content-form-field-title f-iconic">
                        <p>Height</p>
                    </div>
                    <div class="information-content-form-field-inputs">
                        <input type="number" name="height-info" placeholder="000" id="information-form-height" class="information-content-form-field-inputs-text f-idendidad" max="999" step="0.01" required />
                        <div class="information-content-form-field-inputs-attribute f-iconic">
                            <p>cm</p>
                        </div>
                    </div>
                </div>
                <div class="information-content-form-field">
                    <div class="information-content-form-field-title f-iconic">
                        <p>Age</p>
                    </div>
                    <div class="information-content-form-field-inputs">
                        <input type="number" name="age-info" placeholder="000" id="information-form-age" class="information-content-form-field-inputs-text f-idendidad" max="999" required />
                        <div class="information-content-form-field-inputs-attribute f-iconic">
                            <p>yo</p>
                        </div>
                    </div>
                </div>
                <div class="information-content-form-field">
                    <div class="information-content-form-field-title f-iconic">
                        <p>Gender</p>
                    </div>
                    <div class="information-content-form-field-inputs">
                        <button type="button" id="information-form-bodytype" class="information-content-form-field-inputs-btn clickable f-idendidad">
                            <img src="../assets/svg/bodytype0-icon.svg" alt="switch gender" class="information-content-form-field-inputs-btn-type0"> <!--0-->
                            <img src="../assets/svg/bodytype1-icon.svg" alt="switch gender" class="information-content-form-field-inputs-btn-type1 hidden"> <!--1-->
                        </button>
                    </div>
                </div>
                <input type="submit" value="SAVE" id="information-submit-btn" class="information-content-form-submit f-idendidad">
            </form>

        </div>
    </div>


    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->


    <!-- New Entry Menu -->
    <div class="entry hidden" id="entry">
        <div class="entry-header">
            <div class="entry-header-title no-select f-idendidad">
                <p>Entry</p>
            </div>
            <div class="entry-header-exit">
                <button type="button" class="entry-header-exit-btn" id="exit-entry"> 
                    <img src="../assets/svg/exit-icon.svg" alt="exit entry">
                </button>
            </div>
        </div>
        <div class="entry-content">
            
            <form id="entry-form" class="entry-content-form no-select" autocomplete="off">
                <div class="entry-content-form-field">
                    <input type="button" class="entry-content-form-button f-idendidad" value="INTAKE MODE" id="entry-form-type">
                </div>
                <div class="entry-content-form-field">
                    <div class="entry-content-form-field-title f-iconic">
                        <p>Gram</p>
                    </div>
                    <input type="number" name="primary-info" placeholder="0000" id="entry-form-primary-amount" class="entry-content-form-field-text f-idendidad" max="9999" step="0.01" required />
                </div>
                <div class="entry-content-form-field">
                    <div class="entry-content-form-field-title f-iconic">
                        <p>Kcal</p>
                    </div>
                    <input type="number" name="secondary-info" placeholder="0000" id="entry-form-secondary-amount" class="entry-content-form-field-text f-idendidad" max="9999" step="0.01" required />

                </div>
                <div class="entry-content-form-comment">
                    <textarea name="comment-info" id="entry-form-comment" placeholder="COMMENT" class="entry-content-form-comment-text f-idendidad"></textarea>
                </div>

                <div class="entry-content-form-time">
                    <div class="entry-content-form-time-title f-iconic">
                        <p>Time of Entry (Optional)</p>
                    </div>
                    <div class="entry-content-form-time-box">
                        <input type="date" name="date-info" id="entry-form-date" class="entry-content-form-time-box-content f-idendidad" min="2000-01-01"/>
                        <input type="time" name="time-info" id="entry-form-hour" class="entry-content-form-time-box-content f-idendidad"/>
                    </div>
                </div>
                
                <input type="submit" value="SAVE" id="entry-submit-btn" class="entry-content-form-submit f-idendidad">
            </form>

        </div>
    </div>

    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->
    <!----------------------------------------------------------------------------------------------------------------------------->


    <!-- Warning Box -->
    <div class="warning hidden" id="warning">
        <div class="warning-header">
            <div class="warning-header-title no-select f-idendidad">
                <p>Warning</p>
            </div>
            <div class="warning-header-exit">
                <button type="button" class="warning-header-exit-btn" id="exit-warning"> 
                    <img src="../assets/svg/exit-icon.svg" alt="exit warning">
                </button>
            </div>
        </div>
        <form class="warning-content no-select" id="warning-content">
            <div class="warning-content-message f-idendidad" id="warning-message">
                <p>Are you sure <br>you want to proceed?</p> <!-- SHOULD BE CHANGED DEPENDING ON THE WARNING ISSUED -->
            </div>
            <button type="submit" class="warning-content-btn clickable f-idendidad" id="warning-btn"> 
                <p>YES</p>
            </button>
        </form>
    </div>

</body>

</html>