/*-------*/
/* Fonts */
/*------*/
@font-face {
    font-family: 'Iconic';
    src: url('../assets/fonts/iconic-b.ttf');
}
.f-iconic {
    font-family: 'Iconic';
}

@font-face {
    font-family: 'Idendidad';
    src: url('../assets/fonts/identidad.otf');
}
.f-idendidad {
    font-family: 'Idendidad';
}



/*------------------*/
/* Color Controller */  
/*------------------*/
:root {
    --light: rgb(255, 255, 255);
    --gray: #F1F0FA;
    --midgray: #ccc;
    --darkgray: #646464;
    --dark: #2b2b2b;
    --menu: #cfe0f7;
    --border: #91b7edb1;
    --content: #98bcec;
    --main: #01A7C2;
    --shade: #006989;
    --fadedtxt: #757575;
    --fadedbg: #7575756c;
    --button: #a6dafcf5;
    --clearsky: #dff9ff73;
}



/*-----------*/
/*   Style   */
/*-----------*/

.hidden{
    display: none !important;
}

html{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 0;
    overflow:hidden;
    align-items: center;
}

#background{
    display: flex;
    flex-grow: 1;
    background-image: linear-gradient(to right top, hsl(209, 59%, 88%), #a5c8e8, #d1daf2);
    background-repeat: repeat;
    min-width: 40000px;
    min-height: 40000px;
    margin-top: -20%;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    transform-origin: center center;
}

#inactive-bg{
    position: absolute;
    width: 110%;
    height: 110%;
    z-index: 3;
    background-color: var(--fadedbg);
}

.sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 640px;
    position: absolute;
    z-index: 1;
    .sign-menu{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--menu);
        min-width: 400px;
        max-width: 500px;
        max-height: 650px;
        box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 6px 0px inset;
        border-radius: 25px;
        overflow: hidden;
        .sign-menu-title{
            overflow: hidden;
            h1{
                color: var(--dark);
                font-size: 6em;
                margin-top: 12.5%;
                margin-bottom: 12.5%;
            };
        };
    };
    .sign-menu-fields{
        display: flex;
        .sign-menu-fields-form{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10%;
            .sign-menu-fields-form-text{
                background-color: var(--light);
                border: none;
                border-radius: 10px;
                box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -1px 2px 0px inset;
                color: var(--dark);
                font-size: 1.5em;
                width: 80%;
                max-height: 50px;
                text-align: center;
                margin-top: 5%;
                overflow: hidden;
            };
            .field{
                border: none;
                width: 100%;
                height: 100%;
            }
            .sign-menu-fields-form-register{
                color: var(--main);
                font-size: 1.2em;
                font-weight: bold;
                background: none;
                border: none;
                padding: 3%;
            };
            .sign-menu-fields-form-button{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                text-align: center;
                color: var(--dark);
                font-size: 1em;
                overflow: hidden;
                padding-top: 4%  
            };
            .sign-menu-fields-form-submit{
                background-color: var(--midgray);
                border: none;
                border-radius: 100px;
                box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 3px 0px inset;
                width: 50%;
                min-width: 100px;
                max-height: 70px;
                color: var(--fadedtxt);
                font-size: 2em;
                text-align: center;
                overflow: hidden;
                margin-top: 2%;
                padding: 2%;
            };
        };
    };
}

.manager{
    display: flex;
    flex-direction: column;
    width: 98%;
    height: 98%;
    min-height: 640px;
    position: absolute;
    z-index: 1;
    .manager-header{
        display: flex; /*TO SWITCH BACK*/
        flex-direction: row;
        width: 100%;
        height: 20%;
        overflow: hidden;
        position: absolute;
        z-index: 2;
        border-radius: 25px;
        .manager-header-user{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 25%;
            background-color: var(--menu);
            border-radius: 25px;
            box-shadow: var(--border) 0px -2px 6px 0px inset;
            overflow: hidden;
            .manager-header-user-name{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                color: var(--dark);
                font-size: 4em;
                margin: 0px;
            };
            .manager-header-user-details{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                p{
                    color: var(--dark);
                    margin: 0px;
                    font-size: 2em;
                };
            };
        };
        .manager-header-appname{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 60%;
            align-items: center;
            p{
                color: var(--dark);
                margin: 0px;
                font-size: 6em;
            };
        };
        .manager-header-settings{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            width: 15%;
            border-radius: 20px;
            background-color: var(--menu);
            box-shadow: var(--border) 0px -2px 6px 0px inset;
            align-items: center;
            border: none; 
            img{
                display: flex;
                align-items: center;
                margin: 0px;
                width: 55%;
            };
        };
    };
    .manager-content{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        flex-grow: 1;
        overflow: hidden;
        .manager-content-slider{
            align-items: center;
            align-content: space-between;
            width: 25%;
            margin-top: 10%;
            overflow-y: scroll;
            scrollbar-width: none;
            .manager-content-slider-box{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                min-height: fit-content;
                border-radius: 20px;
                background-color: var(--button);
                overflow: hidden;
                box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 6px 0px inset;
                p{
                    margin: 0px;
                };
            };
            .bigbox-modifier{  
                width: 70%;
                height: 25%;
                margin-left: 15%;
                margin-top: 10%;
                margin-bottom: 10%;
                .manager-content-slider-box-date{
                    color: var(--dark);
                    font-size: 3em;
                };
                .manager-content-slider-box-year{
                    color: var(--dark);
                    font-size: 1.7em;
                };
            };
            .smallbox-modifier{  
                width: 50%;
                height: 15%;
                margin-left: 25%;
                margin-top: 5%;
                margin-bottom: 5%;
                .manager-content-slider-box-date{
                    color: var(--dark);
                    font-size: 1.8em;
                };
                .manager-content-slider-box-year{
                    color: var(--dark);
                    font-size: 1.1em;
                };
            };
        };
        .manager-content-info{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 75%;
            margin-top: 10%;
            .manager-content-info-box{
                width: 95%;
                height: 67%;
                min-height: 20px;
                padding-top: 10%;
                padding-bottom: 9%;
                overflow-y: scroll;
                scrollbar-width: none;
                border-radius: 20px;
                background-color: var(--content);
                box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 6px 0px inset;
                .manager-content-info-box-goal{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-top: -7.5%;
                    width: 71%;
                    height: 15%;
                    border-radius: 20px;
                    z-index: 1;
                    position: absolute;
                    background-color: var(--content);
                    box-shadow: var(--border) 0px 5px 15px;
                    p{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        width: 100%;
                        height: 65%;
                        border-radius: 20px;
                        background-color: var(--menu);
                        box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 6px 0px inset;
                        align-items: center;
                        
                        font-size: 1.5em;
                        margin: 2%;
                        color: var(--dark);
                    };
                };
                .manager-content-info-box-entry{
                    display: flex;
                    flex-direction: row;
                    width: 95%;
                    margin-top: 2%;
                    margin-left: 2.5%;
                    .manager-content-info-box-entry-hour{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        align-items: center;
                        width: 7%;
                        height: fit-content;
                        margin-right: 2%;
                        padding: 4%;
                        padding-bottom: 0px;
                        padding-top: 0px;
                        border-radius: 20px;
                        background-color: var(--menu);
                        box-shadow: var(--border) 0px -2px 6px 0px inset;
                        color: var(--dark);
                    };
                    .manager-content-info-box-entry-content{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-evenly;
                        width: 90%;
                        height: fit-content;
                        border-radius: 20px;
                        background-color: var(--menu);
                        box-shadow: var(--border) 0px -2px 6px 0px inset;
                        overflow: clip;
                        .manager-content-info-box-entry-content-details{
                            display: flex;
                            flex-direction: row;
                            margin: 0;
                            padding: 0px;
                            padding-left: 2%;
                            align-items: center;
                            .manager-content-info-box-entry-content-details-text{
                                color:var(--dark);
                                margin-left: 1%;
                            };
                            .manager-content-info-box-entry-content-details-bar{
                                display: flex;
                                flex-direction: row;
                                width: 5%;
                                height: 0.3em;
                                margin-left: 1%;
                                margin-top: 0.5%;
                                border-radius: 10px;
                                background-color: var(--dark);
                            };
                        };
                        .manager-content-info-box-entry-content-main{
                            display: flex;
                            flex-direction: column;
                            justify-content: space-evenly;
                            align-items: center;
                            width: 100%;
                            flex-grow: 1;
                            margin-bottom: 1.5%;
                            transition: top 0.3s;
                            .manager-content-info-box-entry-content-main-bar{
                                display: flex;
                                flex-direction: row;
                                width: 95%;
                                height: 0.3em;
                                margin-bottom: 2%;
                                border-radius: 20px;
                                background-color: var(--dark);
                            };
                            .manager-content-info-box-entry-content-main-comment{
                                display: flex;
                                flex-direction: row;
                                width: 95%;
                                flex-grow: 1;
                                border-radius: 20px;
                                background-color: var(--gray);
                                margin-bottom: 2%;
                                box-shadow: var(--clearsky) 0px 0px 6px 2px;
                                margin-bottom: 1%;
                                p{
                                    color: var(--dark);
                                    margin: 2%;
                                    padding-bottom: 2%;
                                    word-break: break-word;
                                };
                            };
                            .manager-content-info-box-entry-content-main-edit{
                                margin-left: auto;
                                margin-right: 3%;
                                .manager-content-info-box-entry-content-main-edit-button{
                                    display: flex;
                                    flex-direction: column;
                                    font-size: 1.2em;
                                    color: rgb(0, 0, 0);
                                    background-color: var(--gray);
                                    box-shadow: var(--clearsky) 0px 0px 2px 2px;
                                    border-radius: 10px;
                                    padding: 5px;
                                    margin: 0px;
                                    height: fit-content;
                                    border: none;
                                    color: var(--dark);
                                    cursor: pointer;
                                };
                            }
                        };
                    };
                };
            };
            .manager-content-info-add{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                position: absolute;
                right: 0;
                bottom: 0;
                margin-right: 3%;
                margin-bottom: 1%;
                z-index: 5;
                width: 15%;
                height: 10%;
                min-height: 60px;
                border-radius: 20px;
                border: none;
                box-shadow: var(--border) 0px 2px 8px 0px, var(--border) 0px -2px 6px 0px inset;
                background-color: var(--button);
                p{
                    color: var(--dark);
                    font-size: 3.5em;
                    padding: 0px;
                    margin: 0px;
                }
            }
        };
    };
}


.settings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; 
    max-width: 550px;
    height: 60%;
    max-height: 550px;
    border-radius: 15px;
    position: absolute;
    overflow: hidden;
    z-index: 5;
    background-color: rgb(138, 138, 138);
    .settings-header{
        display: flex;
        flex-direction: row;
        width: 100%;
        background-color: red;
        .settings-header-title{
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 2%;
            background-color: pink;
            p{
                font-size: 2.7em;
                margin: 0px;
                padding-left: 5%;
            };
        }
        .settings-header-exit{
            display: flex;
            width: 20%;
            margin: 2%;
            margin-left: auto;
            button{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                align-items: center; 
                background-color: #d792ff;
                img{
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    margin-left: 0px;
                    width: 55%;
                }
            }
        }
    }
    .settings-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: cyan;
        width: 100%;
        flex-grow: 1;
        .settings-content-form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            height: 100%;
            background-color: rgb(0, 255, 42);
            .settings-content-form-field{
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                min-height: 80px;
                background-color: rgb(179, 255, 0);
                .settings-content-form-field-button{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 40%;
                    height: 100%;
                    cursor: pointer;
                    border: none;
                    border-radius: 20px;
                    background-color: #d792ff;
                    margin-left: 8%;
                    margin-right: 10%;
                    overflow: hidden;
                    .settings-content-form-field-button-active{
                        display: flex;
                        align-items: center;
                        width: 50%;
                        height: 100%;
                        margin-left: 0px; /*TURNS TO "auto" when switching to the 2nd option, back into "0px" when switching to the 1st*/
                        background-color: bisque;
                        justify-content: center;/*TO DELETE*/

                    }
                };
                .settings-content-form-field-title{
                    font-size: 3em;
                    p{
                        margin: 1%;
                    }
                };
            }
            .settings-content-form-editinfo{
                display: flex;
                justify-content: center;
                align-items: center;
                border: none;
                border-radius: 20px;
                width: 80%;
                cursor: pointer;
                padding: 4%;
                background-color: #d792ff;
                p{
                    font-size: 2.5em;
                    margin: 0px;
                }
            }
        }
    }
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%; 
    max-width: 600px;
    height: 60%;
    max-height: 550px;
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    background-color: rgb(138, 138, 138);
    .information-header{
        display: flex;
        flex-direction: row;
        flex-direction: row;
        width: 100%;
        background-color: red;
        .information-header-title{
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 2%;
            background-color: pink;
            p{
                font-size: 2.7em;
                margin: 0px;
                padding-left: 5%;
            };
        }
        .information-header-exit{
            width: 20%;
            margin: 2%;
            margin-left: auto;
            button{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                align-items: center; 
                background-color: #d792ff;
                img{
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    margin-left: 0px;
                    width: 55%;
                }
            }
        }
    }
    .information-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: cyan;
        width: 100%;
        overflow-y: scroll;
        scrollbar-width: none;
        flex-grow: 1;
        .information-content-form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 80%;
            height: 100%;
            background-color: rgb(0, 255, 42);
            .information-content-form-field{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                background-color: rgb(179, 255, 0);
                .information-content-form-field-title{
                    display: flex;
                    justify-content: center;
                    width: 55%;
                    font-size: 3em;
                    p{
                        margin: 0;
                    }
                };
                .information-content-form-field-inputs{
                    display: flex;
                    flex-direction: row;
                    width: 45%;
                    .information-content-form-field-inputs-text{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 55%;
                        height: 60%;
                        border: none;
                        border-radius: 20px;
                        background-color: #d792ff;
                        font-size: 1.8em;
                        text-align: center;
                        appearance: textfield;
                    };
                    .information-content-form-field-inputs-attribute{
                        font-size: 2em;
                        margin-left: 5%;
                        justify-content: center;
                        p{
                            margin: 0;
                        };
                    };
                };
            };
            .information-content-form-submit{
                display: flex;
                border: none;
                border-radius: 20px;
                font-size: 2.5em;
                margin-top: 4%;
                margin-bottom: 4%;
                width: 60%;
                height: 17%;
                cursor: pointer;
                background-color: var(--midgray);
                color: var(--fadedtxt);
            };
        };
    };
}

.entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; 
    max-width: 550px;
    height: 65%;
    max-height: 650px;
    border-radius: 15px;
    position: absolute;
    z-index: 5;
    overflow: hidden;
    background-color: rgb(138, 138, 138);
    .entry-header{
        display: flex;
        flex-direction: row;
        flex-direction: row;
        width: 100%;
        background-color: red;
        .entry-header-title{
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 2%;
            background-color: pink;
            p{
                font-size: 2.7em;
                margin: 0px;
                padding-left: 5%;
            };
        }
        .entry-header-exit{
            display: flex;
            width: 20%;
            margin: 2%;
            margin-left: auto;
            button{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                align-items: center; 
                background-color: #d792ff;
                img{
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    margin-left: 0px;
                    width: 55%;
                }
            }
        }
    }
    .entry-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: cyan;
        width: 100%;
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-width: none;
        .entry-content-form{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            flex-grow: 1;
            background-color: rgb(0, 255, 42);
            .entry-content-form-field{
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                background-color: rgb(179, 255, 0);
                .entry-content-form-field-text{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    width: 35%;
                    height: 60%;
                    border: none;
                    border-radius: 20px;
                    background-color: #d792ff;
                    font-size: 1.8em;
                    text-align: center;
                    appearance: textfield;
                };
                .entry-content-form-field-title{
                    font-size: 3em;
                    p{
                        margin: 0;
                    }
                };
            };
            .entry-content-form-comment{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                height: 30%;
                background-color: rgb(179, 255, 0);
                .entry-content-form-comment-text{
                    border: none;
                    resize: none;
                    border-radius: 5px;
                    width: 80%;
                    height: 60%;
                    padding: 2%;
                    margin: 0px;
                };
                textarea::placeholder{
                    font-size: 1.5em;
                    text-align: center;
                };
            };
            .entry-content-form-time{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                width: 100%;
                background-color: rgb(179, 255, 0);
                .entry-content-form-time-title{
                    font-size: 2em;
                    p{
                        margin: 0;
                    }
                };
                .entry-content-form-time-box{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;
                    background-color: rgb(102, 131, 34);
                    .entry-content-form-time-box-content{
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        margin: 3%;
                        padding: 1%;
                        width: 60%;
                        height: 60%;
                        border: none;
                        border-radius: 20px;
                        background-color: #d792ff;
                        font-size: 1.8em;
                        text-align: center;
                    };
                }
            }
            .entry-content-form-submit{
                display: flex;
                border: none;
                border-radius: 20px;
                font-size: 1.5em;
                width: 60%;
                min-height: 15%;
                margin-bottom: 3%;
                background-color: var(--midgray);
                color: var(--fadedtxt);
            };
            .entry-content-form-button{
                display: flex;
                border: none;
                border-radius: 20px;
                font-size: 1.5em;
                width: 60%;
                min-height: 40px;
                margin-top: 2%;
                cursor: pointer;
                background-color: #d792ff;
            };
        };
    };
}

.warning{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; 
    max-width: 450px;
    border-radius: 15px;
    position: absolute;
    z-index: 6;
    overflow: hidden;
    background-color: rgb(17, 255, 0);
    .warning-header{
        display: flex;
        flex-direction: row;
        flex-direction: row;
        width: 100%;
        background-color: red;
        .warning-header-title{
            display: flex;
            flex-grow: 1;
            align-items: center;
            padding: 2%;
            background-color: pink;
            p{
                font-size: 2.7em;
                margin: 0px;
                padding-left: 5%;
            };
        }
        .warning-header-exit{
            display: flex;
            width: 20%;
            margin: 2%;
            margin-left: auto;
            button{
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                width: 100%;
                align-items: center; 
                background-color: #d792ff;
                img{
                    display: flex;
                    align-items: center;
                    margin: 5px;
                    margin-left: 0px;
                    width: 55%;
                }
            }
        }
    }
    .warning-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: cyan;
        width: 100%;
        flex-grow: 1;
        overflow-y: scroll;
        scrollbar-width: none;
        .warning-content-message{
            margin: 7%;
            margin-top: 5%;
            margin-bottom: 3%;
            background-color: rgb(228, 101, 101);
            p{
                text-align: center;
                font-size: 2em;
                margin: 0px;
            };
        };
        .warning-content-btn{
            background-color: red;
            border: none;
            border-radius: 20px;
            width: 50%;
            min-width: 230px;
            height: 20%;
            min-height: 80px;
            margin-bottom: 5%;
            p{
                font-size: 2.5em;
                margin: 0px;
            }
        }
        
    }

}

input[type="time"]::-webkit-calendar-picker-indicator {
    display:none;
}

.slider{
    cursor: move; 
    cursor: grab;
    :active{
        cursor: grabbing;
    };
}

.clickable{
    cursor: pointer;
}
.no-select{
    user-select: none;
}

/*TODO*/
/*--------------------*/
/*   Screen Control   */
/*--------------------*/

/*Mobile*/
@media screen and (max-width: 900px) {
    body{
        display:none
    }
}

/*Desktop*/
@media screen and (min-width: 900px) {
    #redad{
        font-size: 7vw;
    }
    #deafd{   
        max-width: 7vw;
        max-height: 17vw;
        margin-right: 1.5em;
    }
    #daed{
        margin-right: 2.5em;
        max-width: 7vw;
        max-height: 17vw;
    }
}